/*!
 *
 * News
 *
 */

.news {
  margin: 2rem 0 1.5rem 0;

  h1 {
    font-family: Comfortaa;
    font-weight: bold;
    cursor: default;

    &:after {
      background-color: #212529;
      border-radius: 2px;
      height: 4px;
      content: '';
      display: block;
    }
  }

  p {
    margin: 0 0 18px 0;
  }

}
