// ------------------------------
// News
// ------------------------------

.news {
  padding: 2rem 0 1.5rem 0;

  h1 {
    font-family: Comfortaa;
    font-weight: bold;
    cursor: default;
    margin: 0;
  }

  p {
    margin: 0 0 18px 0;
  }

}
