// 
// Title
// 

.title {
  background: url(/img/backgrounds/bg_company.jpg);
  background-size: cover;
  background-position: center;
  height: 280px;
  position: relative;
  margin: 0 0 32px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .title-body {
    color: #eee;
    text-shadow: 1px 1px 50px #ccc;
    cursor: default;
    padding: 0 7vw;
    position: relative;
    z-index: 1;

    h1 {
      font-size: 2.7rem;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-size: 1.3rem;
      margin: 0;
    }
  }

  &::after {
    background: url(/img/mask.png) left top repeat;
    background-size: 2px auto;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}